@model Flag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "FlagsEdit", new { id = Model.pvFlagId }) |
    @Html.ActionLink("Back to List", "Flags")
</p>
