@model SystemWeb.Models.Product

<section id="testimonial" class="block">
    <div class="container">
        <div class="row">
            <div class="center-block">
                <div class="header-content">
                    <h4 class="alert-info">
                        Prodotto in dettaglio
                    </h4>
                </div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Peso)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Peso)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Prezzo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Prezzo)
                        </dd>

                    </dl>
                <p>
                    @Html.ActionLink("Modifica", "ProductsEdit", new { id = Model.ProductId }) |
                    @Html.ActionLink("Torna Indietro", "Products")
                </p>
             </div>
        </div>
    </div>
</section>