@model SystemWeb.Models.Product
<section id="testimonial" class="block">
    <div class="container">
        <div class="row">
            <div class="center-block">
                <div class="header-content">
                    <h4 class="alert-info">
                        Eliminazione prodotto
                    </h4>
                    <small>Sei sicuro di voler proseguire?</small>
                </div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Peso)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Peso)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Prezzo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Prezzo)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Torna Indietro", "Index")
                        </div>
                    }
            </div>
        </div>
    </div>
</section>