@model IEnumerable<SystemWeb.Models.Year>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "YearsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anno)
        </td>
        <td>
            @Html.ActionLink("Edit", "YearsEdit", new { id = item.yearId }) |
            @Html.ActionLink("Details", "YearsDetails", new { id = item.yearId }) |
            @Html.ActionLink("Delete", "YearsDelete", new { id = item.yearId })
        </td>
    </tr>
}

</table>
