<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Valentino Fabbri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.gestionidirette.com/Contenuti/icons/apple-touch-icon.png?v=DAKpa062Ar">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.gestionidirette.com/Contenuti/icons/favicon-32x32.png?v=DAKpa062Ar">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.gestionidirette.com/Contenuti/icons/favicon-16x16.png?v=DAKpa062Ar">
    <link rel="manifest" href="https://cdn.gestionidirette.com/Contenuti/icons/manifest.json?v=DAKpa062Ar">
    <link rel="mask-icon" href="https://cdn.gestionidirette.com/Contenuti/icons/safari-pinned-tab.svg?v=DAKpa062Ar" color="#5bbad5">
    <link rel="shortcut icon" href="https://cdn.gestionidirette.com/Contenuti/icons/favicon.ico?v=DAKpa062Ar">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="https://cdn.gestionidirette.com/Contenuti/icons/mstile-144x144.png?v=DAKpa062Ar">
    <meta name="msapplication-config" content="https://cdn.gestionidirette.com/Contenuti/icons/browserconfig.xml?v=DAKpa062Ar">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Hai una flotta aziendale da gestire, sei un autotrasportatore o un libero professionista? Abbiamo la soluzione ideale per gestire al meglio il tuo business.">
    <meta name="keywords" content="Carta Carburante, Distributori, Benzina, Gasolio, Petrolio, Stazione di Servizio, Carburante, Gestioni Dirette ">
</head>
@RenderSection("style", false)
<body>
    @Styles.Render("~/Content/bootstrapV3")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapV3")
    @RenderSection("script", false)
    @*<div class="row">
        <div class="container">
            @Html.MvcSiteMap().SiteMapPath("SiteMapPathHelperModel")
        </div>
    </div>*@
    @RenderBody()
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border"></div>
                    <div class="credits">
                        <p class="text-capitalize text-center">@DateTime.Today.Date - Gestioni Dirette&trade;</p>
                        <p class="text-center">Progetto ideato da <strong> MTM di Fabbri Marcello & C. Snc </strong></p>
                        <p class="text-center"><strong>Sede Legale: Piazza Concordia(SP)</strong></p>
                        <p class="text-center"><strong>Partita Iva: 01407280112</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
