<!DOCTYPE html>
<html lang="it">
<head>
    <title>@ViewBag.Title</title>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Valentino Fabbri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!--favicon-->@*
    <link rel="apple-touch-icon" sizes="180x180" href="https://gestionidirette.com/Contenuti/icons/apple-touch-icon.png?v=DAKpa062Ar">
    <link rel="icon" type="image/png" sizes="32x32" href="https://gestionidirette.com/Contenuti/icons/favicon-32x32.png?v=DAKpa062Ar">
    <link rel="icon" type="image/png" sizes="16x16" href="https://gestionidirette.com/Contenuti/icons/favicon-16x16.png?v=DAKpa062Ar">
    <link rel="manifest" href="https://gestionidirette.com/Contenuti/icons/manifest.json?v=DAKpa062Ar">
    <link rel="mask-icon" href="https://gestionidirette.com/Contenuti/icons/safari-pinned-tab.svg?v=DAKpa062Ar" color="#5bbad5">
    <link rel="shortcut icon" href="https://gestionidirette.com/Contenuti/icons/favicon.ico?v=DAKpa062Ar">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="https://gestionidirette.com/Contenuti/icons/mstile-144x144.png?v=DAKpa062Ar">
    <meta name="msapplication-config" content="https://gestionidirette.com/Contenuti/icons/browserconfig.xml?v=DAKpa062Ar">
    <meta name="theme-color" content="#ffffff">*@
    @RenderSection("Styles", false)
</head>
<body>
    <!-- ****************************** Preloader ************************** -->
    <div id="preloader"></div>
    @RenderSection("Scripts", false)
    @RenderBody()
    <!-- ****************************** Back to top ************************** -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</body>
@Html.Partial("_Footer")
</html>
