<!DOCTYPE html>
<html lang="it">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Valentino Fabbri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="https://static.gestionidirette.com/Contenuti/icons/apple-touch-icon.png?v=DAKpa062Ar">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.gestionidirette.com/Contenuti/icons/favicon-32x32.png?v=DAKpa062Ar">
    <link rel="icon" type="image/png" sizes="16x16" href="https://static.gestionidirette.com/Contenuti/icons/favicon-16x16.png?v=DAKpa062Ar">
    <link rel="manifest" href="https://static.gestionidirette.com/Contenuti/icons/manifest.json?v=DAKpa062Ar">
    <link rel="mask-icon" href="https://static.gestionidirette.com/Contenuti/icons/safari-pinned-tab.svg?v=DAKpa062Ar" color="#5bbad5">
    <link rel="shortcut icon" href="https://static.gestionidirette.com/Contenuti/icons/favicon.ico?v=DAKpa062Ar">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="https://static.gestionidirette.com/Contenuti/icons/mstile-144x144.png?v=DAKpa062Ar">
    <meta name="msapplication-config" content="https://static.gestionidirette.com/Contenuti/icons/browserconfig.xml?v=DAKpa062Ar">
    <meta name="theme-color" content="#ffffff">
</head>
@RenderSection("style", false)
<body>
    @Styles.Render("~/Content/bootstrapV3")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div class="navbar navbar-default navbar-inverse" style="border-radius:0; background-color:#41a1e1; background-image:url(@Url.Content("~/Contenuti/img/stripBG.png"))" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@ViewBag.Title</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.gestionidirette.com/">Home</a></li>
                    <li><a href="/user/">Dashboard</a></li>
                    <li><a href="/user/ordini/">Ordini</a></li>
                    <li><a href="/user/contatori/">Contatori</a></li>
                    <li><a href="/user/deficienze/">Deficienze</a></li>
                    <li><a href="/user/cali/">Cali</a></li>
                    <li><a href="/user/dispenser/">Dispenser</a></li>
                    <li><a href="/user/cisterne/">Cisterne</a></li>
                    <li><a href="/user/chiusura/">Chiusura Utf</a></li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapV3")
    @RenderSection("script", false)
    @RenderBody()
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border"></div>
                    <div class="credits">
                        <p class="text-capitalize text-center">@DateTime.Today.Date - Gestioni Dirette&trade;</p>
                        <p class="text-center">Progetto ideato da <strong> MTM di Fabbri Marcello & C. Snc </strong></p>
                        <p class="text-center"><strong>Sede Legale: Piazza Concordia(SP)</strong></p>
                        <p class="text-center"><strong>Partita Iva: 01407280112</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

