@model SystemWeb.Database.Entity.Cartissima
@{
    Layout = "~/Views/Shared/_Cartissima.cshtml";
}
<meta name="description" content="Hai una flotta aziendale da gestire, sei un autotrasportatore o un libero professionista? Abbiamo la soluzione ideale per gestire al meglio il tuo business.">
<meta name="keywords" content="Carta Aziendale, Distributori, Benzina, Gasolio, Petrolio, Stazione di Servizio, Carburante, Gestioni Dirette ">
@section style{
    @Styles.Render("~/Content/SignInFormElements")
    @Styles.Render("~/Content/SignInStyle")
    @Styles.Render("~/Content/ionicons")
    <link href="@Url.Content("~/Contenuti/ej/web/ej.widgets.core.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Contenuti/ej/web/default-theme/ej.theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Contenuti/ej/web/responsive-css/ej.responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Contenuti/ej/web/responsive-css/ejgrid.responsive.min.css")" rel="stylesheet" />
<style type="text/css">
    body {
        background-image: url('/Contenuti/img/SignIn.jpg');
        /*background-color:deepskyblue;*/
    }
</style>

}
@using (Html.BeginForm("BusinessCard", "Inserzioni", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="center-block">
            <div class="row">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <p>Compila il seguente form per richiedere la tua nuova carta carburante</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-automobile"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartName, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci il tuo nome", placeholder = "Nome" } })
                            @Html.ValidationMessageFor(model => model.sCartName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartSurname, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci il tuo cognome", placeholder = "Cognome" } })
                            @Html.ValidationMessageFor(model => model.sCartSurname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartEmail, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci la tua mail personale", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.sCartEmail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartPhone, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci il tuo numero di telefono", placeholder = "Telefono" } })
                            @Html.ValidationMessageFor(model => model.sCartPhone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartCompany, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci il nome della tua Azienda", placeholder = "Nome Azienda" } })
                            @Html.ValidationMessageFor(model => model.sCartCompany, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartIva, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci il numero della tua partita iva", placeholder = "Numero Partita Iva" } })
                            @Html.ValidationMessageFor(model => model.sCartIva, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartLocation, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci la Provincia in cui ha sede la tua Azienda", placeholder = "Provincia della tua Azienda" } })
                            @Html.ValidationMessageFor(model => model.sCartLocation, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartVeichle, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci una quantità aprossimativa dei veicoli a tua disposizione", placeholder = "Quantità di Veicoli intestati alla tua azienda" } })
                            @Html.ValidationMessageFor(model => model.sCartVeichle, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(tbf => tbf.sCartVeichleType, new { htmlAttributes = new { @class = "form-control", @title = "Inserisci quali tipi di veicolo hai a disposizione", placeholder = "Tipologia di Veicoli, es: Furgoni/Auto/Misto tra i due" } })
                            @Html.ValidationMessageFor(model => model.sCartVeichleType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EJ().Button("Send").Text("Spedisci").Type(ButtonType.Submit).ClientSideEvents(e => e.Click("onclick"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section script{
    <script type="text/javascript">
        function onclick() {
            location.href = '@Url.Action("Send","Cartissima")';
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/jsrender")
    @Scripts.Render("~/bundles/jqueryglobalize")
    @Scripts.Render("~/bundles/jquerybrowser")
    @Scripts.Render("http://cdn.syncfusion.com/15.1.0.33/js/web/ej.web.all.min.js")
    @Scripts.Render("http://cdn.syncfusion.com/15.1.0.33/js/common/ej.unobtrusive.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Html.EJ().ScriptManager()

}
