    <h3 style="text-decoration:solid">Nome utente:</h3>
    <p class ="client-name">@ViewBag.ProfileName</p>
    <p class ="client-name">@ViewBag.ProfileSurname</p>
    <h3 style="text-decoration:solid">Residenza:</h3>
    <p class="client-name">@ViewBag.ProfileAdress</p>
    <br/>
    <p class="client-name">@ViewBag.ProfileCity</p>
    <br />
    <p class="client-name">@ViewBag.ProfileZipCode</p>
    <br />
    <p class="client-name">@ViewBag.ProfileNation</p>
    <h3 style="text-decoration:solid">I Tuoi impianti:</h3>
    <p class="client-name">@ViewBag.PvId</p>
    <h3 style="text-decoration:solid">La tua azienda:</h3>
    <p class="client-name">@ViewBag.CompanyId</p>
