@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
@using (Html.BeginForm("Carico", "User", FormMethod.Get))
{
    <section id="carico" class="block">
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <div class="header-content">
                        <h4 class="alert alert-info">Lista di tutti gli ordini registrati sul impianto</h4>
                        <strong>Genera</strong>
                        @Html.ActionLink("Diagramma", "CaricoChart")
                    </div>
                    <div class="grid-filter">
                        <form id="date-range-form" action="@Url.Action("Carico", "User")" method="post">
                            <h5 class="alert alert-info">Compilando il campo sottostante con range in data avente formato <strong>MM/DD/YY</strong>, verrà calcolata la somma degli ordini registrati sul impianto in funzione del range selezionato.</h5>
                            <h5 class="alert alert-info">La Somma è riportata a fondo pagina nella sezione <strong>TOTALI</strong></h5>
                            <div class="item">
                                <label for="from">Data 1</label>
                                <input type="text" id="from" name="dateFrom">
                            </div>
                            <div class="item">
                                <label for="to">Data 2</label>
                                <input type="text" id="to" name="dateTo">
                            </div>
                            <input type='submit' value='Ricerca' />
                        </form>
                    </div>
                    <div id="no-more-tables">
                        <h4 class="alert alert-info">Totale di tutti gli ordini registrati sul impianto</h4>
                        <div id="totali">
                            <table class="col-md-12 table-bordered table-striped table-condensed">
                                @Html.Partial("_TotalPartial")
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<section id="adaptive">
    <div class="container">
        <div class="row">
            <div class="center-block">
                <style type="text/css">
                    ::-ms-clear {
                        display: none;
                    }

                    .e-gridAdaptive {
                        border-width: 0px !important;
                    }
                </style>
                @(Html.EJ().Grid<Carico>("FlatGrid")
                    .Locale("it-IT")
                    .Datasource(ds => ds.Json((IEnumerable<object>)ViewBag.dataSource)
                    .UpdateURL("update")
                    .InsertURL("insert")
                    .RemoveURL("remove")
                    .Adaptor(AdaptorType.RemoteSaveAdaptor))
                    .AllowGrouping()
                    .AllowPaging()
                    .EnableAltRow()
                    .PageSettings(p => p.PageCount(2).PageSize(5))
                    .IsResponsive(true)
                    .EnableResponsiveRow(true)
                    .AllowSorting()
                    .AllowFiltering()
                                    .FilterSettings(filter =>
                                    {
                                        filter.FilterType(FilterType.Excel);
                                    })

                    .AllowMultiSorting()
                    .ClientSideEvents(eve => eve.ActionComplete("ActionComplete"))
                    .MinWidth(400)
                    .EditSettings(d => d.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.Dialog))
                    .ToolbarSettings(toolbar =>
                    {
                        toolbar.ShowToolbar().ToolbarItems(items =>
                        {
                            items.AddTool(ToolBarItems.Add);
                            items.AddTool(ToolBarItems.Edit);
                            items.AddTool(ToolBarItems.Delete);
                            items.AddTool(ToolBarItems.Update);
                            items.AddTool(ToolBarItems.Cancel);
                            items.AddTool(ToolBarItems.Search);
                            items.AddTool(ToolBarItems.ExcelExport);
                            items.AddTool(ToolBarItems.WordExport);
                            items.AddTool(ToolBarItems.PdfExport);
                        });
                    })

                    .Mappers(map => map.ExportToExcelAction("caricoexcell")
                                    .ExportToPdfAction("caricopdf")
                                    .ExportToWordAction("caricoword"))
                    .Columns(col =>
                    {
                        col.Field(p => p.Id).HeaderText("ID Ordine").IsPrimaryKey(true).Visible(false).Add();

                        col.Field(p => p.pvID).HeaderText("PV").ForeignKeyField("pvID").ForeignKeyValue("pvName")
                        .DataSource((IEnumerable<object>)ViewBag.datasource3).TextAlign(TextAlign.Left).Width(75).EditType(EditingType.Dropdown).Add();

                        col.Field(p => p.yearId).HeaderText("Anno").ForeignKeyField("yearId").ForeignKeyValue("Anno")
                        .DataSource((IEnumerable<object>)ViewBag.datasource2).TextAlign(TextAlign.Left).Width(75).Format("{0:yyyy}").EditType(EditingType.Dropdown).Add();

                        col.Field(p => p.Ordine).HeaderText("Ordine").Width("50").Add();
                        col.Field(p => p.cData).HeaderText("Scarico").Format("{0:MM/dd/yyyy}").Width("45").EditType(EditingType.Datepicker).Add();
                        col.Field(p => p.Documento).HeaderText("Tipo").Width("50").Add();
                        col.Field(p => p.Numero).HeaderText("Documento").Width("65").Add();
                        col.Field(p => p.rData).HeaderText("Bolla").Format("{0:MM/dd/yyyy}").Width("45").EditType(EditingType.Datepicker).Add();
                        col.Field(p => p.Emittente).HeaderText("Emittente").Width("75").Add();
                        col.Field(p => p.Benzina).HeaderText("Benzina").Width("50").Add();
                        col.Field(p => p.Gasolio).HeaderText("Gasolio").Width("50").Add();
                        col.Field(p => p.Note).HeaderText("Note").Width("50").Add();
                    })
                )
            </div>
        </div>
    </div>
</section>

@section Styles{
    <link href="@Url.Content("~/Contenuti/ej/web/ej.widgets.core.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Contenuti/ej/web/default-theme/ej.theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Contenuti/ej/web/responsive-css/ej.responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Contenuti/ej/web/responsive-css/ejgrid.responsive.min.css")" rel="stylesheet" />
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/jsrender")
    @Scripts.Render("~/bundles/jqueryglobalize")
    @Scripts.Render("~/bundles/jquerybrowser")
    <script src="~/Scripts/ej/web/ej.web.all.min.js"></script>
    <script src="~/Scripts/ej/common/ej.unobtrusive.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/GridOption")
    @Html.EJ().ScriptManager()

<script type="text/javascript">
    $(function () {
        $("#from").ejDatePicker({
            locale: "it-IT",
            onClose: function (selectedDate) {
                $("#to").ejDatePicker("minDate", selectedDate);

            }
        });
        $("#to").ejDatePicker({
            locale: "it-IT",
            onClose: function (selectedDate) {
                $("#from").ejDatePicker("maxDate", selectedDate);

            },
        });
    });

    ej.Grid.Locale["it-IT"] = {
        EmptyRecord: "Nessun record da visualizzare",
        GroupDropArea: "Trascinare una colonna qui",
        DeleteOperationAlert: "Nessuna voce selezionata per l'eliminazione",
        EditOperationAlert: "Entrate selezionate per operazione di modifica",
        SaveButton: "Salva",
        CancelButton: "Annulla",
        EditFormTitle: "Modifica",
        GroupCaptionFormat: "{{:field}}: {{:key}} - {{:count}} {{if count == 1}}Oggetto{{else}}Oggetti{{/if}}",
        UnGroup: "Clicca qui per separare"
    };
    ej.Pager.Locale["it-IT"] = {
        pagerInfo: "{0} di {1} Pagine ({2} Oggetti)",
        firstPageTooltip: "Per la prima pagina",
        lastPageTooltip: "L'ultima pagina",
        nextPageTooltip: "Pagina successiva",
        previousPageTooltip: "Pagina precedente",
        nextPagerTooltip: "Alla prossima pagina",
        previousPagerTooltip: "Pagina precedente"
    };
</script>
    }


