@{
    ViewBag.Title = "Chiusura Utf";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
@using (Html.BeginForm("Chiusura", "User", FormMethod.Get))
{
    <div class="container">
        <div class="center-block">
            <div class="row">
                <div id="no-more-tables">
                    <table class="table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Benzina
                                </th>
                                <th>

                                </th>
                                <th>
                                    Gasolio
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-left">Rimanenze</th>
                                <td class="text-center">@ViewBag.RimIB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.RimIG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Ordini</th>
                                <td class="text-center">@ViewBag.rCaricoB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.rCaricoG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Eccedenze</th>
                                <td class="text-center">@ViewBag.eccB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.eccG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Scatti a vuoto</th>
                                <td class="text-center">@ViewBag.scatB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.scatG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Totale Carico</th>
                                <td class="text-center">@ViewBag.TotCaricoB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.TotCaricoG</td>
                            </tr>
                            <tr><th class="text-left">-</th></tr>
                            <tr>
                                <th class="text-left">Erogato da Totalizzatori</th>
                                <td class="text-center">@ViewBag.totalB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.totalG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Deficienze ATB</th>
                                <td class="text-center">@ViewBag.sumdB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.sumdG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Cali tecnici riscontrati e registrati</th>
                                <td class="text-center">@ViewBag.sumcB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.sumcG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Totale Scarico</th>
                                <td class="text-center">@ViewBag.TotScaricoB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.TotScaricoG</td>
                            </tr>
                            <tr><th class="text-left">-</th></tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-left">Rimanenza Contabile</th>
                                <td class="text-center">@ViewBag.RiportoB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.RiportoG</td>
                            </tr>
                            <tr>
                                <th class="text-left">Rimanenza Effettiva </th>
                                <td class="text-center">@ViewBag.RiportoEB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.RiportoEG</td>
                            </tr>
                            <tr><th class="text-left">-</th></tr>
                            <tr>
                                <th class="text-left">Differenza (+ o -)</th>
                                <td class="text-center">@ViewBag.DifEB</td>
                                <th></th>
                                <td class="text-center">@ViewBag.DifEG</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

