@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
@section style{
    @Styles.Render("~/Content/EjWidgetCore")
    @Styles.Render("~/Content/EjTheme")
    @Styles.Render("~/Content/EjResponsive")
    <link href="@Url.Content("~/Contenuti/ej/web/responsive-css/ejgrid.responsive.min.css")" rel="stylesheet" />
}
<section id="adaptive">
    <div class="container">
        <div class="row">
            <div class="center-block">
                <style type="text/css">
                    ::-ms-clear {
                        display: none;
                    }

                    .e-gridAdaptive {
                        border-width: 0px !important;
                    }
                </style>
                @(Html.EJ().Grid<Dispenser>("FlatGridDispenser")
                                    .Locale("it-IT")
                                    .Datasource(ds => ds.Json((IEnumerable<object>)ViewBag.dataSource)
                                    .UpdateURL("update")
                                    .InsertURL("insert")
                                    .RemoveURL("remove")
                                    .Adaptor(AdaptorType.RemoteSaveAdaptor))
                                    .AllowPaging()
                                    .PageSettings(p => p.PageCount(2).PageSize(5))
                                    .IsResponsive(true)
                                    .EnableResponsiveRow(true)
                                    .AllowSorting()
                                    .AllowMultiSorting()
                                    .ClientSideEvents(eve => eve.ActionComplete("ActionCompleteDispenser"))
                                    .MinWidth(400)
                                    .EditSettings(d => d.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.Dialog))
                                    .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
                                    {
                                        items.AddTool(ToolBarItems.Add);
                                        items.AddTool(ToolBarItems.Edit);
                                        items.AddTool(ToolBarItems.Delete);
                                        items.AddTool(ToolBarItems.Cancel);
                                        items.AddTool(ToolBarItems.Search);
                                        items.AddTool(ToolBarItems.ExcelExport);
                                        items.AddTool(ToolBarItems.WordExport);
                                        items.AddTool(ToolBarItems.PdfExport);

                                    }))

                                    .AllowFiltering()
                                    .FilterSettings(filter =>
                                    {
                                        filter.FilterType(FilterType.Excel);
                                    })

                                    .Mappers(map => map.ExportToExcelAction("dispenserexcell")
                                    .ExportToPdfAction("dispenserpdf")
                                    .ExportToWordAction("dispenserword"))
                                    .Columns(col =>
                                    {
                                        col.Field(p => p.DispenserId).HeaderText("ID Dispenser").IsPrimaryKey(true).Visible(false).Width(45).Add();
                                        col.Field(p => p.PvTankId).HeaderText("Cisterna").ForeignKeyField("PvTankId").ForeignKeyValue("Modello")
                                        .DataSource((IEnumerable<object>)ViewBag.dataSource2).Width(45).EditType(EditingType.Dropdown).Add();

                                        col.Field(p => p.Modello).HeaderText("Modello").Width("50").EditType(EditingType.String).Add();
                                        col.Field(p => p.isActive).HeaderText("Attività").Width("45").EditType(EditingType.Boolean).Add();
                                    })
                )
            </div>
        </div>
    </div>
</section>

@section script{
    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/jsrender")
    @Scripts.Render("~/bundles/jqueryglobalize")
    @Scripts.Render("~/bundles/jquerybrowser")
    @Scripts.Render("http://cdn.syncfusion.com/15.1.0.33/js/web/ej.web.all.min.js")
    @Scripts.Render("http://cdn.syncfusion.com/15.1.0.33/js/common/ej.unobtrusive.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/GridOption")
    @Html.EJ().ScriptManager()

    <script type="text/javascript">
    $(function () {
        $("#from").ejDatePicker({
            locale: "it-IT",
            onClose: function (selectedDate) {
                $("#to").ejDatePicker("minDate", selectedDate);

            }
        });
        $("#to").ejDatePicker({
            locale: "it-IT",
            onClose: function (selectedDate) {
                $("#from").ejDatePicker("maxDate", selectedDate);

            },
        });
    });

    ej.Grid.Locale["it-IT"] = {
        EmptyRecord: "Nessun record da visualizzare",
        GroupDropArea: "Trascinare una colonna qui",
        DeleteOperationAlert: "Nessuna voce selezionata per l'eliminazione",
        EditOperationAlert: "Entrate selezionate per operazione di modifica",
        SaveButton: "Salva",
        CancelButton: "Annulla",
        EditFormTitle: "Modifica",
        GroupCaptionFormat: "{{:field}}: {{:key}} - {{:count}} {{if count == 1}}Oggetto{{else}}Oggetti{{/if}}",
        UnGroup: "Clicca qui per separare"
    };
    ej.Pager.Locale["it-IT"] = {
        pagerInfo: "{0} di {1} Pagine ({2} Oggetti)",
        firstPageTooltip: "Per la prima pagina",
        lastPageTooltip: "L'ultima pagina",
        nextPageTooltip: "Pagina successiva",
        previousPageTooltip: "Pagina precedente",
        nextPagerTooltip: "Alla prossima pagina",
        previousPagerTooltip: "Pagina precedente"
    };
    </script>
}


