@model PagedList.IPagedList<SystemWeb.Models.PvErogatori>
@using PagedList.Mvc;
<link href="~/Contenuti/css/PagedList.min.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<section id="pverogatori" class="block">
    <div class="container">
            <div class="row">
                <div class="center-block">
                    <div class="header-content">
                        <h4 class="alert alert-info">Lista di tutti i totalizzatori del punto vendita</h4>
                    </div>
                    @using (Html.BeginForm("PvErogatori", "User", FormMethod.Get))
                    {
                        <div class="grid-filter">
                            <div class="inner">
                                <div class="item">
                                    <p class="text-primary">
                                        Cerca per data: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                        <input type="submit" value="Cerca" />
                                    </p>
                                </div>
                            </div>
                            <form id="date-range-form" action="@Url.Action("PvErogatori", "User")" method="post">
                                <h5 class="alert alert-info">Compilando il campo sottostante con range in data avente formato <strong>MM/DD/YY</strong>, verrà calcolata la somma del erogatoi sul impianto in funzione del range selezionato.</h5>
                                <h5 class="alert alert-info">La Somma è riportata a fondo pagina nella sezione <strong>TOTALI</strong></h5>
                                <div class="item">
                                    <label for="from">Data 1</label>
                                    <input type="text" id="from" name="dateFrom">
                                </div>
                                <div class="item">
                                    <label for="to">Data 2</label>
                                    <input type="text" id="to" name="dateTo">
                                </div>
                                <div class="item">
                                    <label>Lista erogatori</label>
                                    @Html.DropDownList("DispenserId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <input type='submit' value='Ricerca' />
                            </form>
                        </div>
                    }
                    <div id="no-more-tables">
                        <h4 class="alert alert-info">Statistiche sul erogato</h4>
                        <div id="totali">
                            <table class="col-md-12 table-bordered table-striped table-condensed">
                                @Html.Partial("_TotalPartialErog")
                            </table>
                        </div>
                    </div>
                    <div><h4 class="alert alert-info">@Html.ActionLink("Crea nuovo", "PvErogatoriCreate")</h4></div>
                    <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        Codice Punto vendita
                                    </th>
                                    <th>
                                        Anno finanziario
                                    </th>
                                    <th>
                                        Modello
                                    </th>
                                    <th>
                                        Prodotto
                                    </th>
                                    <th>
                                        Valore
                                    </th>
                                    <th>
                                        @Html.ActionLink("Data", "PvErogatori", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td data-title="Punto vendita">
                                            @Html.DisplayFor(modelItem => item.Pv.pvName)
                                        </td>
                                        <td data-title="Anno finanziario">
                                            @Html.DisplayFor(modelItem => item.FieldDate.Year)
                                        </td>
                                        <td data-title="Modello">
                                            @Html.DisplayFor(modelItem => item.Dispenser.Modello)
                                        </td>
                                        <td data-title="Prodotto">
                                            @Html.DisplayFor(modelItem => item.Product.Nome)
                                        </td>
                                        <td data-title="Contatore">
                                            @Html.DisplayFor(modelItem => item.Value)
                                        </td>
                                        <td data-title="Data contabile">
                                            @Html.DisplayFor(modelItem => item.FieldDate)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Modifica", "PvErogatoriEdit", new { id = item.PvErogatoriId }) |
                                        @Html.ActionLink("Dettagli", "PvErogatoriDetails", new { id = item.PvErogatoriId }) |
                                        @Html.ActionLink("Cancella", "PvErogatoriDelete", new { id = item.PvErogatoriId })
                                    </td>
                                </tr>
                            </tbody>
                            }
                        </table>
                        <br />
                        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) di @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("PvErogatori",
                       new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>

            </div>
    </div>
</section>
@section Scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script type="text/javascript">

    $(function () {
        $("#from").datepicker({
            duration:'fast',
            showAnim:'drop',
            dateFormat: "mm/dd/yy", @*yy/mm/dd - Localhost*@
            maxDate:  '0',
            showOn: 'button',
            buttonImage: '/Content/img/calendar.png',
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);

            }
        });
        $("#to").datepicker({
            duration: 'fast',
            showAnim: 'drop',
            dateFormat: "mm/dd/yy", @*yy/mm/dd - Localhost*@
            maxDate: '0',
            showOn: 'button',
            buttonImage: '/Content/img/calendar.png',
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);

            },
        });
    });
    </script>
}
