@model SystemWeb.Models.PvTank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PvTank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pv.ApplicationUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pv.ApplicationUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capienza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capienza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giacenza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giacenza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "PvTanksEdit", new { id = Model.PvTankId }) |
    @Html.ActionLink("Torna Indietro", "PvTanks")
</p>
