@model PvTankDesc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PvTankDesc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PvTank.Modello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PvTank.Modello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PvTankCM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PvTankCM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PvTankLT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PvTankLT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PvTankDescId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
