@section Styles{
@Styles.Render("~/Content/bootstrapV3")
@Styles.Render("~/Content/style")
@Styles.Render("~/Content/custom")
@Styles.Render("~/Content/SignInFormElements")
@Styles.Render("~/Content/SignInStyle")
@Styles.Render("~/Content/ionicons")
@Styles.Render("~/Content/animate")
@Styles.Render("~/Content/owlcarousel")
@Styles.Render("~/Content/owlcarousel-theme")
@Styles.Render("~/Content/nivolightbox")
@Styles.Render("~/Content/fontawesome")}
<!-- ****************************** Sidebar ************************** -->
@Html.Partial("_Sidebar")
<!-- ****************************** Header ************************** -->
@Html.Partial("_FrontHeader")
<!-- ****************************** Banner ************************** -->
@Html.Partial("_Banner")
@model GestioniDirette.ViewModels.ContactViewModel
<section id="features" class="block">
    <div class="container">
        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Caratteristiche
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>
        <div class="row">
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-briefcase"></i>
                        <h2>Entra in Gestioni Dirette</h2>
                        <p>Registra il tuo punto vendita in semplici passi in modo da continuare con gli step successivi.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-wrench"></i>
                        <h2>Configurazione Impianto</h2>
                        <p>Ti saranno richiesti molteplici dati in modo da ottenere una configurazione personalizzata al meglio.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-bookmarks"></i>
                        <h2>Inserimento Ordini</h2>
                        <p>Grazie ad un intuitivo form potrai sottomettere i tuoi ordini. Il sistema sommerà di volta in volta il progressivo.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-book"></i>
                        <h2>Inserimento Totalizzatori</h2>
                        <p>Come per gli ordini carburante potrai anche sottomettere giorno per giorno i totalizzatori di ogni tuo erogatore.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-cloud"></i>
                        <h2>Sviluppo</h2>
                        <p>Gestioni Dirette è sempre in continuo sviluppo, grazie al tool SystemWeb, unicamente progettato allo scopo di soddisfare le richieste del utenza.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-locked"></i>
                        <h2>Beta</h2>
                        <p>Gestioni Dirette è ancora in fase beta, pertanto non ancora aperto al pubblico. Tuttavia stiamo lavorando per far si che ciò accada.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box">
                        <i class="ion-stats-bars"></i>
                        <h2>Stato sistemi</h2>
                        <p>@ViewBag.DbState</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- ****************************** Contact section ************************** -->
<section id="contact" class="block">
    <div class="container">
        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Contattaci
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-5 col-lg-12">
                <div class="center-block">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Contattaci</h3>
                                <p>Compila il form sottostante per richiedere maggiori informazioni su ogni tuo interesse</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Nome", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "La tua mail", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Oggetto", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.Message, new { @placeholder = "Il tuo messaggio", @class = "form-control" })
                                </div>
                                <input type="submit" value="Invia" class="btn">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>



@section Scripts{
   @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapV3")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/sorting")
    @Scripts.Render("~/bundles/jqueryajaxchimp")}


           
